{{> header-brand}}
{{#if checker}}
{{> header check=true}}
{{else}}
{{> header check=false}}
{{/if}}

<div class="container my-5 ">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div class="row w-100">
                <div class="col-8">
                    <h4 class="text-primary pl-5 font">
                        {{post.name}}
                    </h4>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    {{#if usage}}
                    <a href="/update/ad/{{post.id}}" class="mr-2">
                        <ion-icon name="create"></ion-icon>
                    </a>
                    <a href="/delete/ad/{{post.id}}">
                        <ion-icon name="trash"></ion-icon>
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-7 d-flex justify-content-center"><img class="d-image" src="{{post.logo}}" alt="{{post.logo}}">
        </div>
        <div class="col-5 float-left text-primary pt-4">
            <h5>${{post.price}}</h5>
            <hr>
            <h6 class="text-secondary">Qty Available: {{post.quantity}}</h6>
            <hr>
            <h6 class="text-secondary">Name: {{profile.fName}} {{profile.lName}}</h6>
            <hr>
            <h6 class="text-secondary">Contact Tel: <strong>{{profile.phone}}</strong></h6>
            <hr>
            <h6 class="text-secondary">Contact Email: <strong>{{profile.email}}</strong></h6>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <p class="text-secondary px-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem
                cupiditate quaerat optio praesentium sequi et accusamus ex soluta consequuntur enim blanditiis, aut
                libero quas distinctio sit earum rem laboriosam laudantium!</p>
        </div>
    </div>
</div>
{{> footer}}