{{> header-brand}}
{{> header}}

<div class="container my-5 ">
    <div class="row">
        <div class="col-12">
            <h4 class="text-primary ">
                {{post.name}}
                <hr>
            </h4>
        </div>
        <div class="col-6"><img src="{{post.logo}}" alt="{{post.logo}}"></div>
        <div class="col-3 float-left text-primary">
            <h5>${{post.price}}</h5>
            <br>
            <hr>
            <h6 class="text-secondary">Qty Available: {{post.quantity}}</h6>
            <hr>
            <h6 class="text-secondary">Contact Tel: {{profile.phone}}</h6>
            <hr>
            <h6 class="text-secondary">Contact Email: {{profile.email}}</h6>
            <hr>

        </div>
        <div class=" col-3 float-left">

        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <p class="text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem
                    cupiditate quaerat optio praesentium sequi et accusamus ex soluta consequuntur enim blanditiis, aut
                    libero quas distinctio sit earum rem laboriosam laudantium!</p>
            </div>
        </div>
    </div>
</div>
{{> footer}}