<h1>Profile Settings</h1>

<a href="/update" id="update" class="btn btn-large">Update</a>
<table>
    <tr>
        <td>Name</td>
        <td>{{profile.fName}} {{profile.lName}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{profile.email}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{profile.phone}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{profile.address}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{profile.city}}</td>
    </tr>
    <tr>
        <td>Postal Code</td>
        <td>{{profile.PCode}}</td>
    </tr>
    <tr>
        <td>Province</td>
        <td>{{profile.province}}</td>
    </tr>
</table>