{{> header-brand}}

{{#if checker}}
{{> header check=true}}
{{else}}
{{> header check=false}}
{{/if}}

<div class="container my-5 ">
    <div class="row">
        <div class="col-12">{{#unless checks}}
            <h1 class="search apperance">
                NO SEARCH FOUND
            </h1>
            {{/unless}}
        </div>
    </div>

    <div class="row">
        {{#each result}}
        <div class="col-3 my-3">
            <div class="card" style="width: 16rem; height: 27.5rem;">
                <img src="{{logo}}" class="card-img-top image-height" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">${{price}}</p>
                        </div>
                    </div>
                    <a href="/{{name}}/{{id}}" class="btn btn-primary pb-0">
                        <ion-icon name="eye"></ion-icon>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>

{{> footer}}