{{> header-brand}}
{{> header}}



<div class="container my-5 text-secondary">
    {{#each post}}
    <div class="row border-bottom mb-2 py-2">
        <div class="col-6">
            <h3 class="my-0">
                {{name}}
            </h3>
        </div>
        <div class="col-3">
            <h4 class="my-0"><strong>${{price}}</strong></h4>
        </div>
        <div class="col-1">
            <a href="/update/ad/{{id}}" class="btn btn-success py-1"> Update</a>
        </div>
        <div class="col-1">
            <a href="/delete/ad/{{id}}" class="btn btn-danger py-1">Delete</a>
        </div>
        <div class="col-1">
            <a href="/view/ad/{{id}}" class="btn btn-primary py-1">View</a>
        </div>
        <hr>


    </div>
    {{/each}}


</div>
{{> footer}}